@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="headericon">
    <h1 class="bannertext">Jira & AWS</h1>
</div>

<div class="container1">
    <div class="containerimage1">
        <img src="~/images/awsimage.jpg" />
    </div>
    <div class="containertext1">
        <h2>AWS</h2>
        <h3>SAMPLE TEXTSAMPLE TEXTSAMPLE TEXTSAMPLE TEXTSAMPLE TEXTSAMPLE TEXTSAMPLE TEXTSAMPLE TEXT</h3>
    </div>
</div>


<div class="container2">
    <div class="containertext2">
        <h2 class="">Jira</h2>
        <h3>SAMPLE TEXTSAMPLE TEXTSAMPLE TEXTSAMPLE TEXTSAMPLE TEXTSAMPLE TEXTSAMPLE TEXTSAMPLE TEXTSAMPLE TEXTSAMPLE TEXT</h3>
    </div>
    <div class="containerimage2">
        <img src="~/images/betteraws.jpg" />
    </div>
</div>