html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.headericon {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-end; 
    height: 20em;
    width: 100%;
    background-image: url('../images/betteraws.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px; 
}

.bannertext {
    color: white;
    font-size: 2em;
    font-weight: bold;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 4px;
}

.container1 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    margin-top: 5em;
}

.containerimage1 {
    flex: 1;
    overflow: hidden;
}



    .containerimage1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

.containertext1 {
    flex: 1;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    line-height: 1.5;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-top: 5em;
}

.containertext2 {
    flex: 1;
    padding: 50px;
    font-size: 1.2em;
    line-height: 1.5;
}

.containerimage2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .containerimage2 img {
        width: 25em;
        height: 25em;
        object-fit: cover;
        border-radius: 10px;
    }