html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.header_icon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 45em;
    width: 100%;
    background-image: url('../images/banner_13_8080905ebb.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.banner_text {
    color: white;
    font-size: 2em;
    font-weight: bold;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 4px;
}

.content_section {
    display: flex;
    width: 100%;
    min-height: 500px;
}

.section_image,
.section_text {
    flex: 1 0 50%;
}

.section_image {
    overflow: hidden;
}

    .section_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

.section_text {
    background: #fff;
    padding: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    font-size: 1.1rem;
    line-height: 1.6;
    height: 100%;
}

.section_reverse {
    flex-direction: row-reverse;
}
